.nCard {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}


/* You can add global styles to this file, and also import other style files */